<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>S&amp;P500 Prediction App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>S&amp;P500 Prediction App</h1>
			<!--<input type="text" id="input1" />
			<script type="text/javascript">
 			function myJsFunction(){
			    var text=document.getElementById('input1').value;
 			}
			</script>-->
			<form action = "/getframe" method="POST">
                            <p> Timeframe: <input name="text" type ="text" value="3 months" /> </p>
                            <p> <input type ="submit" value="check the trend" /> </p>
                        </form>
		</div>
	</body>
</html>
