<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>S&amp;P500 Trend Prediction App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
			<h1>SP500 Trend Prediction App</h1>
			<form action = “/getdelay” method=“POST”>
				<p> Select Time Frame:<input name=“Time Frame” type =“text” value=“1 month” /> </p>
				<p> <input type =“submit” value=“Check Delay” /> </p>
			</form>
		</div>
	</body>
</html>